.wp-block-course-catalog-item {
	display: flex;
	align-items: normal;
	flex-wrap: wrap;
	word-break: break-word;
    overflow-wrap: break-word;
	gap: 20px;
	padding: 10px 28px;
	font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #6c6c6c;

	&:nth-child(even) {
		background-color: #e3edf7;
	}

	@media screen and (min-width: 782px) {
		flex-wrap: nowrap;
		gap: 24px;
	}

	@media screen and (max-width: 781px) {
		padding-top: 28px !important;
		padding-bottom: 28px !important;
		margin-bottom: 20px !important;
		border-radius: 12px;
		border: 1px solid #9d9ea0;
		text-align: center;
	}

	> * {
		width: 100%;
		align-self: center;
		flex-grow: 1;
		min-width: 0;

		@media screen and (min-width: 782px) {
			flex-grow: 0;
		}

		@media screen and (max-width: 781px) {
			flex-basis: 100% !important;
		}
	}

	.wp-block-buttons {

		@media screen and (max-width: 781px) {
			justify-content: center;
		}
	}

	.wp-block-button {

		@media screen and (min-width: 782px) {
			margin-bottom: 0 !important;
		}

		& .wp-block-button__link {
			font-weight: 700; 
			padding: 4px 40px; 
			font-size: 15px; 
			text-transform: uppercase;
		}
	}

	&__title {
		flex-basis: 50%;

		a {
			color: #005a96;
			text-decoration: none !important;
			font-size: 17px;
			line-height: 24px;

			&:hover {
				color: #25ae60;
			}
		}

		&-suffix {
			font-style: italic;
		}
	}

	&__credits {
		flex-basis: 20%;
	}

	&__details {
		flex-basis: 8%;

		a {
			color: #6c6c6c; 
			text-decoration: underline !important;

			&:hover {
				color: #25ae60;
			}
		}
	}

	&__price {
		flex-basis: 8%;
	}

	&__cart {
		flex-basis: 14%;
	}
}
